*{margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;line-break:strict;-webkit-line-break:strict;word-break:break-strict;-webkit-word-break:break-strict}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1,h2,h3,h4,h5,h6{font-weight:400}abbr[title]{border-bottom:1px dotted}b{font-weight:700}strong{font-weight:400}dfn{font-style:italic}mark{background:#ff0;color:#000}a{text-decoration:none}ol,ul{list-style:none}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{vertical-align:middle;border:0;max-width:100%;height:auto;}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}*:focus {outline:none;}

* {
	box-sizing: border-box;
	outline: 1px solid transparent;
}

/* Basic Style
-------------------------------------- */
html {
	position: relative;
	width: 100%;
	min-height: 100%;
	height: 100%;
	font-size: 62.5%; /* 10px */
}
body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 1rem;
	color: #585858;
	overflow-y: scroll;
}
a {
	color: inherit;
	text-decoration: underline;
}
a,
a:hover,
a:visited,
a:focus {
	color: inherit;
	outline: none;
}
.contents {
	padding: 14% 5% 5%;
}

/* Module
-------------------------------------- */
.nav__button {
	display: block;	
	position: absolute;
	top: 2%;
	left: 2.5%;
	z-index: 100;
	width: 12vw;
	height: 12vw;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(burger.svg);
	border-radius: .25rem;
	border: none;
}
.nav__button {
	background-color: rgba(76, 185, 214, .85);	
}
.nav__button.on {
	left: 1.25%;
	background-color: rgba(76, 185, 214, 0);	
	background-image: url(cross.svg);	
}

/* Modal
-------------------------------------- */
.modal {
	position: fixed;
	top: 0;
	right: 100%;
	z-index: 3;
	width: 100%;
	height: 100%;
	transition: all .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	will-change: all;
}
.modal.on {
	right: 0;
}
.modal__close_area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(76, 185, 214, .9);
	text-indent: -9999px;
}
.modal__contents {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 4;
	width: 95%;
	transform: translate(-50%, -50%);
}
.modal__menu .btn {
	display: flex;
	align-items: center;
	text-decoration: none;
	letter-spacing: .2rem;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	padding: 1.5rem 0 1.4rem;
}
.modal__menu li:first-of-type .btn {
	border-top: 1px solid rgba(255, 255, 255, .2);
}
.modal__menu_image {
	display: block;
	width: 2.8rem;
	fill: #fff;
}
.modal__menu_text {
	display: block;
	width: 80%;
	font-size: 1.4rem;
	color: #fff;
	padding-left: .5rem;
}
.shop .svg {
	color: #fff;
	width: 2.3rem;
}
.history .svg {
	width: 2.2rem;	
	transform: translate(-.1rem, 0);
}
.history .st0 {
	display:none;
}
.history .st1 {
	display:inline;
}
.history .st2 {
	opacity:0.75;
	fill:#ED358D;
}
.history .st3 {
	fill:#FFFFFF;
}
.history .st4 {
	font-family:'KozGoPr6N-Regular-83pv-RKSJ-H';
}
.history .st5 {
	font-size:10px;
}
.search .svg {
	width: 2.1rem;
	transform: translate(.1rem, 0);
}
.where .svg {
	width: 2rem;
	transform: translate(.1rem, 0);
}

/* Top
-------------------------------------- */
#where {
	background: url(bg_where.jpg) fixed center top;
	background-size: cover;
}
#where .wrapper {
	width: 100%;
	height: 100%;
	background: rgba(76, 185, 284, .85);
}
#where .contents {
	position: relative;
	width: 100%;
	height: 100%;
}
.where__title_main,
.where__title_copy {
	display: block;
	letter-spacing: .2rem;
	color: rgba(255, 255, 255, .8);
} 
.where__title_main {
	font-size: 3.4vw;
	padding: 0 0 .6rem;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	margin-bottom: .6rem;
}
.where__title_copy {
	font-size: 1.2rem;
}
.where__form {
	position: absolute;
	bottom: 14%;
	width: 90%;
}
.where__form_input_text {
	width: 100%;
}
.where__form_input_text input {
	display: block;
	width: 100%;
	font-size: 140%;
	text-align: center;
	border: 1px solid #fff;
	background: transparent;
	border-radius: 3px;
	padding: 10px;
	color: #fff;
	box-shadow: none;
	line-height: 180%;
	-webkit-appearance: none;
	        appearance: none;
}
.where__form_input_text input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .8);
}
.where__form_input_text + .where__form_input_text {
	margin-top: 2rem;
}

/* Map
-------------------------------------- */
#map .contents {
	width: 100%;
	padding: 0;
	overflow: auto;
}
.map__view {
	width: 220%;
	outline: 1px solid red;
}

/* Shop
-------------------------------------- */
#shop {
	background: rgba(35, 175, 108, .9) url(shop.svg) no-repeat center center;
	background-size: 65% auto;
	color: rgba(255, 255, 255, .85);
}
.shop__list_category {
	font-size: 128%;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	padding: 1.8rem 0 .4rem;
	letter-spacing: .1rem;
	margin-bottom: .8rem;
}
.shop__list_name {
	display: inline-block;
	letter-spacing: .1rem;
	padding: 0 .6rem .6rem 0;
	text-decoration: underline;
}

/* History
-------------------------------------- */
#history {
	background: rgba(247, 147, 30, .9) url(clock.svg) no-repeat center center;
	background-size: 60% auto;
	color: rgba(255, 255, 255, .85);
}
.history__list {
	font-size: 1.4rem;
}
.history__list_label {
	display: none;
	margin: 2.8rem 0 .6rem;
}
.history__list .today1,
.history__list .yestaday1 {
	display: block;
}
.history__list_label span {
	display: inline;
	font-size: 1rem;
	border: 1px solid rgba(255, 255, 255, .25);
	border-radius: .28rem;
	color: #fff;
	padding: .4rem .4rem .6rem;
	background: rgba(255, 255, 255, .25);
	letter-spacing: .1rem;
}
.history__list_shop {
	display: block;
	position: relative;
	padding: 1rem 0 1rem .2rem;
	color: rgba(255, 255, 255, .7);
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, .45);
	margin-left: .2rem;
}
.history__list .arrow {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: .4rem;
	width: 1.4rem;
	transform: translate(0, -50%);
}

/* Search
-------------------------------------- */
#search {
	background: rgba(232, 74, 74, .85) url(search.svg) no-repeat center center;
	background-size: 60% auto;
	color: rgba(255, 255, 255, .85);
}
.search__list_form {
	padding-top: 1.8rem;	
}
.search__list_form_input {
	width: 100%;
	font-size: 1.6rem;
	border: none;
	border-radius: .2rem;
	padding: .6rem .4rem;
	color: rgba(130, 130, 130, .5);
}
.search__list_form_input:focus {
	color: rgba(130, 130, 130, 1);
}
.search__list_form_input::-webkit-input-placeholder {
	color: rgba(63, 24, 24, .25);
}
.search__list {
	font-size: 1.4rem;
	padding-top: 1.8rem;	
}
.search__list li {
	display: none;
}
.search__list span {
	display: block;
	position: relative;
	padding: 1rem 0 1rem .2rem;
	color: rgba(255, 255, 255, .8);
	text-decoration: none;
	border-bottom: 1px solid rgba(247, 190, 190, 1);
}
.search__list .arrow {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: .4rem;
	width: 1.4rem;
	transform: translate(0, -50%);
}
